body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


section figcaption {
  text-align: center;
  font-size: smaller;
}



.column {
  float:left;
  width: 353px;
  padding: 15px ;
  background-color: red;
  align-items: center;
  margin-bottom:25px;
  flex: 1 auto;

}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
